{% extends 'base.html' %}


{% block content %}
{% if question.image %}
<div class="image-div">
    <img src="{{ question.image.url }}" alt="Some error occured, please reload the page for image.">
</div>
{% endif %}
<h1>{{ question.question_text }}</h1>
<div class="options">
    {% for choice in question.choice_set.all %}
    <label for="choice{{ choice.id }}"
        class="answer-choice {% if choice.id == right_choice %}right-answer{% elif choice.id == user_choice %}wrong-answer{% endif %}">
        <input type="radio" id="choice{{ choice.id }}" name="user_choice" value="{{ choice.id }}" disabled>
        {{ choice.choice_text }}
    </label>
    {% endfor %}
</div>
<div class="answer-content">

    {% if user_choice == right_choice %}
    <h2>Wohoo, That was right!</h2>
    {% else %}
    <h2>Wrong Answer. But more to learn then :-)</h2>
    {% endif %}

    <h4 class="explanation-heading">Explanation</h4>
    <div class="explanation">
        {{ question.explanation }}
    </div>

</div>

<div class="sa-last-buttons">

    {% if from_page == 'qd' %}
    <a href="{% url 'all-questions' %}" class="btn btn-primary">Back to All Questions</a>
    <a href="{% url 'category-detail' question.category.id %}" class="btn btn-info">Show Question Category Page</a>
    {% elif from_page == 'cd' %}
    <a href="{% url 'category-detail' question.category.id %}" class="btn btn-primary">Back to Question Category
        Page</a>
    {% endif %}

</div>
{% endblock content %}